/* STANDARD */
:root {
  --main-bg-color: #4d79ac;
  --text-grey: #646464;
  --footer-text-grey: #c8c8c8;
}

/* HEADER */
.header-up {
  text-decoration: none;
  height: 64px;
  display: flex;
  align-items: center;
  gap: 28px;
  padding-left: 16px;
}

/* Nab */
ul.nav li.active a {
  color: white;
}

/* CONTENT */
.main {
  /* height: 850px; */
}

.body {
  background-image: linear-gradient(black, var(--main-bg-color));
}

.text-grey {
  color: var(--text-grey);
}

/* FOOTER */
.footer-copyright {
  color: var(--footer-text-grey);
}

.footer-social-links {
  list-style: none;
  display: flex;
  gap: 21px;
  margin: 25px 0;
}
